# TEST CASE - PYTHON PROJECT PACMANN - SUPER CASHIER - ADITAMA HAIDIR SIREGAR

## Import Modul Cashier.py

In [11]:
import Cashier as c

## Membuat Obejct pada Class Transction()

In [12]:
transaksi_1 = c.Transaction()

## Mengecek Tampilan Awal Daftar Transaksi

In [13]:
transaksi_1.check_data_item()

Daftar Semua Transaksi Belanja Barang Telah Dihapus

## Test 1 : Menambahkan Item Transaksi

Customer menambahkan item yang ingin dibeli ke dalam daftar transaksi belanja barang. Barang yang ditambahkan sebagai berikut:
1. Nama Barang : Ayam Goreng | Jumlah Barang : 2 | Harga Satuan : Rp 20.000
2. Nama Barang : Pasta Gigi  | Jumlah Barang : 3 | Harga Satuan : Rp 15.000

### Method yang digunakan adalah add_item() untuk menambahkan item dan check_data item untuk mengecek daftar transaksi belanja barang

In [14]:
transaksi_1.add_item('Ayam Goreng', 2, 20000)
transaksi_1.add_item('Pasta Gigi', 3, 15000)
transaksi_1.check_data_item()

                   Daftar Transaksi Belanja Barang
|    | Nama Barang   | Jumlah Barang   | Harga Satuan           | Total Harga   |
|---:|:--------------|:----------------|:-----------------------|:--------------|
|  0 | Ayam Goreng   | 2               | 20000                  | 40000         |
|  1 | Pasta Gigi    | 3               | 15000                  | 45000         |
|  2 |               |                 | Total Bayar            | Rp 85000      |
|  3 |               |                 | Diskon Yang Diperoleh  | 0 %           |
|  4 |               |                 | Total Akhir Pembayaran | Rp 85000      |

## Test 2 : Menghapus Salah Satu Item pada Daftar Transaksi

Customer ingin menghapus salah item dalam daftar transaksi belanja yaitu Pasta Gigi

### Method yang digunakan adalah delete_item() untuk menghapus item dan check_data item untuk mengecek daftar transaksi belanja barang

In [15]:
transaksi_1.delete_item('Pasta Gigi')
transaksi_1.check_data_item()

                   Daftar Transaksi Belanja Barang
|    | Nama Barang   | Jumlah Barang   | Harga Satuan           | Total Harga   |
|---:|:--------------|:----------------|:-----------------------|:--------------|
|  0 | Ayam Goreng   | 2               | 20000                  | 40000         |
|  1 |               |                 | Total Bayar            | Rp 40000      |
|  2 |               |                 | Diskon Yang Diperoleh  | 0 %           |
|  3 |               |                 | Total Akhir Pembayaran | Rp 40000      |

## Test 3 : Menghapus Semua Item pada Daftar Transaksi

### Method yang digunakan adalah reset_transaction() untuk mereset transaksi item dan check_data item untuk mengecek daftar transaksi belanja barang

In [16]:
transaksi_1.reset_transaction()
transaksi_1.check_data_item()

Daftar Semua Transaksi Belanja Barang Telah Dihapus

## Test 4 : Menambahkan Kembali Item ke Daftar Transaksi

Customer menambahkan kembali item yang ingin dibeli ke dalam daftar transaksi belanja barang. Barang yang ditambahkan sebagai berikut:
1. Nama Barang : Sikat Gigi      | Jumlah Barang : 4  | Harga Satuan : Rp 15.000
2. Nama Barang : Oreo Blackpink  | Jumlah Barang : 5  | Harga Satuan : Rp 22.000
3. Nama Barang : Indomie         | Jumlah Barang : 15 | Harga Satuan : Rp 3.250
4. Nama Barang : Sosis           | Jumlah Barang : 4  | Harga Satuan : Rp 8.900

In [17]:
transaksi_1.add_item('Sikat Gigi', 4, 15000)
transaksi_1.add_item('Oreo Blackpink', 5, 22000)
transaksi_1.add_item('Indomie', 15, 3250)
transaksi_1.add_item('Sosis', 4, 8900)

In [18]:
transaksi_1.check_data_item()

                   Daftar Transaksi Belanja Barang
|    | Nama Barang    | Jumlah Barang   | Harga Satuan           | Total Harga   |
|---:|:---------------|:----------------|:-----------------------|:--------------|
|  0 | Indomie        | 15              | 3250                   | 48750         |
|  1 | Oreo Blackpink | 5               | 22000                  | 110000        |
|  2 | Sikat Gigi     | 4               | 15000                  | 60000         |
|  3 | Sosis          | 4               | 8900                   | 35600         |
|  4 |                |                 | Total Bayar            | Rp 254350     |
|  5 |                |                 | Diskon Yang Diperoleh  | 5.0 %         |
|  6 |                |                 | Total Akhir Pembayaran | Rp 241632.5   |

Ternyata Customer mendapatkan diskon belanja sebesar 5% karena total bayar Customer lebih dari Rp 250.000 sehingga Customer cukup melakukan pembayaran sebesar Rp 241.632,5

## Test 5 : Memperbarui Daftar Transaksi

### Method yang digunakan adalah update_name_item() hanya untuk mengubah nama barang dan check_data item untuk mengecek daftar transaksi belanja barang

In [14]:
transaksi_1.update_name_item('Sikat Gigi', 'Pasta Gigi')
transaksi_1.check_data_item()

                   Daftar Transaksi Belanja Barang
|    | Nama Barang    | Jumlah Barang   | Harga Satuan           | Total Harga   |
|---:|:---------------|:----------------|:-----------------------|:--------------|
|  0 | Indomie        | 15              | 3250                   | 48750         |
|  1 | Oreo Blackpink | 5               | 22000                  | 110000        |
|  2 | Pasta Gigi     | 4               | 15000                  | 60000         |
|  3 | Sosis          | 4               | 8900                   | 35600         |
|  4 |                |                 | Total Bayar            | Rp 254350     |
|  5 |                |                 | Diskon Yang Diperoleh  | 5.0 %         |
|  6 |                |                 | Total Akhir Pembayaran | Rp 241632.5   |

### Method yang digunakan adalah update_price_item() hanya untuk mengubah harga barang dan check_data item untuk mengecek daftar transaksi belanja barang

In [16]:
transaksi_1.update_price_item('Indomie', 3150)
transaksi_1.check_data_item()

                   Daftar Transaksi Belanja Barang
|    | Nama Barang    | Jumlah Barang   | Harga Satuan           | Total Harga   |
|---:|:---------------|:----------------|:-----------------------|:--------------|
|  0 | Indomie        | 15              | 3150                   | 47250         |
|  1 | Oreo Blackpink | 5               | 22000                  | 110000        |
|  2 | Pasta Gigi     | 4               | 15000                  | 60000         |
|  3 | Sosis          | 4               | 8900                   | 35600         |
|  4 |                |                 | Total Bayar            | Rp 252850     |
|  5 |                |                 | Diskon Yang Diperoleh  | 5.0 %         |
|  6 |                |                 | Total Akhir Pembayaran | Rp 240207.5   |

### Method yang digunakan adalah update_amount_item() hanya untuk mengubah jumlah barang dan check_data item untuk mengecek daftar transaksi belanja barang

In [17]:
transaksi_1.update_amount_item('Sosis', 6)
transaksi_1.check_data_item()

                   Daftar Transaksi Belanja Barang
|    | Nama Barang    | Jumlah Barang   | Harga Satuan           | Total Harga   |
|---:|:---------------|:----------------|:-----------------------|:--------------|
|  0 | Indomie        | 15              | 3150                   | 47250         |
|  1 | Oreo Blackpink | 5               | 22000                  | 110000        |
|  2 | Pasta Gigi     | 4               | 15000                  | 60000         |
|  3 | Sosis          | 6               | 8900                   | 53400         |
|  4 |                |                 | Total Bayar            | Rp 270650     |
|  5 |                |                 | Diskon Yang Diperoleh  | 5.0 %         |
|  6 |                |                 | Total Akhir Pembayaran | Rp 257117.5   |

## Test 6 : Menampilkan Kesalahan Input dalam Transaksi

In [19]:
transaksi_1.update_price_item('Indomi', 3050)

Nama barang 'Indomi' tidak ditemukan dalam data transaksi.

In [20]:
transaksi_1.update_amount_item('Sosis', 6.5)

Kesalahan Input Jumlah Barang Terbaru: 6.5 harus berupa angka bilangan bulat/integer.

In [21]:
transaksi_1.update_name_item('Sikat', 'Odol')

Barang yang bernama 'Sikat' tidak ada di daftar transaksi.

In [22]:
transaksi_1.check_data_item()

                   Daftar Transaksi Belanja Barang
|    | Nama Barang    | Jumlah Barang   | Harga Satuan           | Total Harga   |
|---:|:---------------|:----------------|:-----------------------|:--------------|
|  0 | Indomie        | 15              | 3150                   | 47250         |
|  1 | Oreo Blackpink | 5               | 22000                  | 110000        |
|  2 | Pasta Gigi     | 4               | 15000                  | 60000         |
|  3 | Sosis          | 6               | 8900                   | 53400         |
|  4 |                |                 | Total Bayar            | Rp 270650     |
|  5 |                |                 | Diskon Yang Diperoleh  | 5.0 %         |
|  6 |                |                 | Total Akhir Pembayaran | Rp 257117.5   |